@import url('react-google-places-autocomplete/dist/assets/index.css')

.App {
  font-family: sans-serif;
  text-align: center;
}

.MuiOutlinedInput-root {
  border-radius: 500rem;
  height: 56px;
  display: flex;
  align-items: center;
}
.MuiSelect-select:focus{
  background-color: transparent !important;
}
.MuiPaper-rounded{
  border-radius: 15 !important;
}
.container {
  width: 100%;
  margin-bottom: 15px;
}

.container input {
  height: 56px;
  padding: 0px 14px;
}

.container label {
  height: 20px;
  text-align: left;
  top: 9px;
}

.container label[data-shrink="true"] {
  top: 0;
}
.wrapper {
  height:auto;
}


input:-internal-autofill-selected{
  background-color: #ffffff !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
  color:#ffffff !important;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.PrivateNotchedOutline-legendLabelled-42{
  font-size: 1em !important;
}

.align-start{
  align-items: flex-start;
}

div[aria-labelledby="Add-Agent"]>section{
  overflow: scroll;
}

div[aria-labelledby="Agent-detail"]>section{
  overflow: scroll;
}

div[aria-labelledby="Deliveries"]>section{
  overflow: scroll;
}
div[aria-labelledby='Add Single']>section{
  overflow: scroll;
}


/* .scrollable{
  display: block !important;
  overflow: scroll;
  }


.scrollarrow  {
  position:absolute;
  bottom:10px;
  right:10px;
  display: none;
} */

.link-active{
  background-color: coral;
  color: #ffffff;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.refresh{
  animation: spinPulse 1s infinite ease-in-out;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  transition: spinPulse 1s infinite linear;
  cursor: pointer;
}

@keyframes spinPulse {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  
100% {
  transform: rotate(360deg);
}
  ;
}


.css-yk16xz-control, .css-g1d714-ValueContainer{
  border-radius: 60px !important;
  height:56px;
}